.brief_introduction{
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(115, 200, 211);
}

.brief_introduction h1{
    font-size: 32px;
    color: rgb(20,120,105);
}