/*Note that all info_box css comes from style.css*/

.value_box{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.value_box p{
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}