.header{
    width: 100%;
    height: 80px;
    position: fixed;
    display: block;
    color: #00ffff;
    z-index: 200;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}
    
.logo_pic_container{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header_logo {
    height: 50px;
    border-radius: 100%;
    display: table-cell;
    vertical-align: middle;
    z-index: 101;
}

.logo_container h1{
    display: none;
}

/* correct these */
.menu_logo_container{
    height: 100%;
    display: table;
    float: right;
}

/* correct these */
.menu_button_container{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

/* correct these */
.header_menu_logo {
    height: 35px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 101;
}

.nav_bar_container{
    position: absolute; /* correct these to relative */
    right: 0%; /* correct these to float: right */
    height: 100vh;
    width: 75%;
    display: none;
    align-items: center; /* correct these */
    z-index: 100;
    background-color: rgb(54, 6, 82); /* correct these */
    filter: opacity(80%); /* correct these */
}

.navigation{
    display: flex;
    flex-direction: column; /* correct these */
    justify-content: center; /* correct these */
    align-items: center; /* correct these */
    height: 60%;
    width: 80%;
    margin: 0 auto;
    z-index: inherit;
}

/* correct these */
.navigation a{
    display: flex;
    width: 100px;
    padding: 20px 0;
    text-align: center;
}

.navigation a li{
    display: block;
    width: 100%; /* correct these */
    font-family: 'Fira Code', sans-serif;
    color: #00ffff;
    font-size: 16px;
}

@media screen and (min-width: 900px) {
    
    .inner_header{
        width: 80%;
        margin: 0 auto;
    }

    .header_logo {
        height: 65px;
    }

    .header_logo:hover{
        filter: brightness(.9);
    }
    
    /* .logo_container a:active{
        color: inherit;
    } */
    
    .logo_container h1{
        height: 100%;
        display:  table-cell;
        vertical-align: middle;
        font-family: 'Fira Code', sans-serif;
        font-size: 30px;
        font-weight: 200;
        padding-left: 20px;
    }
    
    .logo_container h1 a{
        color: #00ffff;
    }

    .menu_logo_container{
        display: none;
    }

    .menu_button_container{
        display: none;
    }

    .header_menu_logo {
        display: none;
    }

    .nav_bar_container{
        float: right;
        height: 100%;
        width: 70%;
        display: table-cell;
        position: relative;
        right: inherit;
        align-items: initial;
        background-color: initial;
        filter: opacity(100%);
    }
    
    .navigation{
        display: flex;
        float: right;
        height: 100%;
        width: auto;
        z-index: inherit;
        flex-direction: initial; 
        justify-content: initial; 
        align-items: initial; 
    }
    
    /* .navigation a li:hover{
        color: rgb(0, 0, 0);
    } */

    /* correct these */
    .navigation a{
        display: initial;
        width: initial;
        padding: initial;
        text-align: initial;
    }
    
    .navigation a li{
        display: flex;
        justify-content: center;
        width: initial;
        align-items: center;
        padding: 0px 20px;
        height: 100%;
        font-size: 12px;
    }
}

